@import url("./asset/css/header.css");

:root{
    --color-light: #ffffff;
    --color-grey: #707070;
    --color-dark: #000000;
    --color-brand-light: #fbb731;
    --color-brand-dark: #f37335;
    --color-brand-alternative: #0c4c7b;

    --color-brand-light-transparent: rgb(251 183 49 / .8);
    --color-brand-dark-transparent: rgb(243 115 53 / .8);

    --font-primary: 'Nunito Sans', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}

body{
    font-family: var(--font-primary);

    position: relative;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
}

header nav li{
    list-style-type: none;
}

.followUs p{
    font-family: var(--font-secondary);
}