@import url("./asset/css/header.css");
@import url("./asset/css/gallary.css");
@import url("./asset/css/footer.css");

:root{
    --color-light: #ffffff;
    --color-grey: #707070;
    --color-dark: #000000;
    --color-brand-light: #fbb731;
    --color-brand-dark: #f37335;
    --color-brand-alternative: #0c4c7b;

    --color-brand-light-transparent: rgb(251 183 49 / .8);
    --color-brand-dark-transparent: rgb(243 115 53 / .8);

    --font-primary: 'Nunito Sans', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    --computer-padding-width: 20%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}

body{
    font-family: var(--font-primary);

    position: relative;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: inherit;
}

button, input, textarea{
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    resize: none;
    font-size: 1em;
}

input::placeholder, textarea::placeholder{
    color: inherit;
}

button{
    padding: .75em 2.5em;
    background-color: var(--color-brand-light);
    
    color: var(--color-dark);
    font-weight: 700;
    font-size: 1em;
}

header nav li{
    list-style-type: none;
}